.section.advantages {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}
.advantages__item {
  max-width: 450px;
  &:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 354px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}
.adv-icon {
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  max-width: 450px;
  margin-bottom: 30px;
  padding: 25px 0;

  @media screen and (min-width: 1200px) {
    max-width: 270px;
    padding: 25px 100px;
  }
}
.advantages {
  .item {
    color: $title-text-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  .text {
    color: $primary-text-color;
    line-height: 1.71;
  }
}
