.info-nav {
  display: flex;
  gap: 30px;

  @media screen and (max-width: 767px) {
    display: none;
    justify-content: space-between;
  }
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    flex-direction: column;
    gap: 10px;
  }
}

.info-nav__item {
  &:not(:last-child) {
    // margin-right: 50px;
  }
}

.info-nav__link {
  color: $primary-text-color;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16667;
  }
  &:hover {
    color: $accent-color;
  }

  &:focus {
    color: $accent-color;
  }
}
.info-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
