.our-team {
  background-color: $secondary-background-color;
}

.comands__title--centered {
  text-align: center;
}
/* заголовок великий */
.comands__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.1667;
    margin-bottom: 50px;
  }
}

.comands .container {
  padding: 94px 0;
}

/* им'я та прізвище */
.comands .team-card__title {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
}

/* текст */
.team-card p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    // margin-top: 50px;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 30px;
  }
}

.team-card {
  background: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px $backdrop-color;
  border-radius: 0px 0px 4px 4px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
  }

  @media screen and (min-width: 768px) {
    // padding-bottom: 30px;
    gap: 30px;
  }
  @media screen and (max-width: 1199px) {
    // padding-bottom: 24px;
  }

  &__title {
    margin-bottom: 10px;
  }
}
.team-card__content {
  padding: 30px 0;

  & .team-card__title {
    margin-bottom: 10px;
  }
  /* Спрайт команда */
  & .team-card__text {
    margin-bottom: 16px;
    @media screen and (min-width: 1200px) {
      margin: 10px 0 30px;
    }
  }
}

.social {
  display: flex;
  width: 206px;
  height: 44px;
  column-gap: 10px;
  margin: auto;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-decoration: none;
  background-color: $primary-white-color;
  fill: $icon-color;
  transition: fill 250ms $timing-function;

  & {
    transition: background-color 250ms $timing-function;
  }

  &:hover,
  &:focus {
    fill: $primary-white-color;
    background-color: $accent-color;
  }
}

.social__icon:hover,
.social__icon:focus {
  fill: $primary-white-color;
}
