.section {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.section__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.1667;
    margin-bottom: 50px;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
li {
  list-style-type: none;
  /* забираєм маркери */
}

a {
  text-decoration: none;
}
