.section {
  padding: 94px 0;
}

.section__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
li {
  list-style-type: none;
  /* забираєм маркери */
}
