  $font-roboto: Roboto, sans-serif;
  $font-raleway: Raleway, sans-serif;
  $primary-text-color: #757575;
  $title-text-color: #212121;
  $accent-color: #2196F3;
  $primary-white-color: #FFFFFF;
  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  $footer-link-color: rgba(255, 255, 255, 0.6);
  $black-color: #000000;
  $header-border-color: #ECECEC;
  $port-border-color: #EEEEEE;
  $icon-color: #AFB1B8;
  $color-gradient: rgba(47, 48, 58, 0.4);
  $textarea-placholder-color: rgba(117, 117, 117, 0.5);

  $footer-color: #2F303A;
   $backdrop-color: rgba(0, 0, 0, 0.2);
   $card-background: rgba(33, 150, 243, 0.9);
   $modal-input-color: rgba(33, 33, 33, 0.2);
   $footer-icon-baground-color: rgba(255, 255, 255, 0.1);
   $secondary-background-color: #F5F4FA;